In [74]:
import pandas as pd
# from sqlalchemy import create_engine
import psycopg2
import time

In [75]:
# ingest click_streams
df_stream = pd.read_csv('../data/one-day-stream-filtered.csv')
df_stream.head()

,session_id,event_name,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount,event_offset
0,bfda2978-2603-48d3-9849-2b7c2a36dfc7,HOMEPAGE,db7c30f5-7f5e-4596-8aee-23c31e6ed5a7,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,bfda2978-2603-48d3-9849-2b7c2a36dfc7,ITEM_DETAIL,d24c7d65-8255-46df-b178-380069d48577,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
2,388beacd-54b3-4b2e-a26d-cb7d99e1e694,HOMEPAGE,b11b4085-ce10-404f-9c5f-366ee6788c2f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,388beacd-54b3-4b2e-a26d-cb7d99e1e694,ADD_TO_CART,0c6968f8-e723-4d5a-9c07-fdf13d803bdd,MOBILE,58279.0,1.0,504859.0,NaN,NaN,NaN,NaN,1.0
4,388beacd-54b3-4b2e-a26d-cb7d99e1e694,ADD_TO_CART,8ae0586a-b703-4e11-bc46-7a45af37ab7d,MOBILE,54508.0,1.0,433687.0,NaN,NaN,NaN,NaN,0.0

In [76]:
df_stream.columns

Index(['session_id', 'event_name', 'event_id', 'traffic_source', 'product_id',
       'quantity', 'item_price', 'payment_status', 'search_keywords',
       'promo_code', 'promo_amount', 'event_offset'],
      dtype='object')

In [77]:
df_stream[['product_id', 'quantity', 'item_price', 'promo_amount']] = \
    df_stream[['product_id', 'quantity', 'item_price', 'promo_amount']].fillna('0')
df_stream[['session_id', 'event_name', 'event_id', 'traffic_source',
           'payment_status', 'search_keywords', 'promo_code']] = \
    df_stream[['session_id', 'event_name', 'event_id', 'traffic_source',
               'payment_status', 'search_keywords', 'promo_code']].fillna('')

In [78]:
df_stream = df_stream.astype({
    'session_id': str,
    'event_name': str,
    'event_id': str,
    'traffic_source': str,
    'product_id': float,
    'quantity': float,
    'item_price': float,
    'payment_status': str,
    'search_keywords': str,
    'promo_code': str,
    'promo_amount': float,
    'event_offset': float
})

In [87]:
# transactions preparation
df_transac = pd.read_csv('../data/one-day-transactions-filtered.csv')
df_transac.head()

,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,event_offset
0,56249,8b814fb1-866f-490e-8a86-336a0ec07ce6,764e800f-0e4d-41f4-86b7-ac125e09f8f7,OVO,Success,0,NaN,10000,-6.760483,107.145038,234659,59595,1,224659,0
1,88526,afd64790-3605-4d36-b5b0-abd2e3a5823d,8bdc6d05-b7c2-422c-a74c-b636ae0bc660,Credit Card,Success,3881,WEEKENDSERU,10000,0.458978,117.285013,283036,17183,1,276917,33
2,41121,798a298b-2966-4d69-8b9a-fadc4f87b857,eacfe57e-6c19-413a-a3eb-4c79f94a1f33,Credit Card,Success,0,NaN,0,-6.186397,106.872607,92318,45127,1,92318,110
3,14151,21656164-fa7c-43c7-a369-0fb05a980299,83a01b81-fe42-43bb-97d1-93244c847594,Gopay,Success,0,NaN,0,-0.275616,110.529582,527040,44184,1,247548,116
4,14151,21656164-fa7c-43c7-a369-0fb05a980299,83a01b81-fe42-43bb-97d1-93244c847594,Gopay,Success,0,NaN,0,-0.275616,110.529582,527040,12913,1,279492,0

In [88]:
df_transac.columns

Index(['customer_id', 'booking_id', 'session_id', 'payment_method',
       'payment_status', 'promo_amount', 'promo_code', 'shipment_fee',
       'shipment_location_lat', 'shipment_location_long', 'total_amount',
       'product_id', 'quantity', 'item_price', 'event_offset'],
      dtype='object')

In [89]:
df_transac[['customer_id', 'promo_amount', 'shipment_fee', 'total_amount',
            'product_id', 'quantity', 'item_price']] = \
    df_transac[['customer_id', 'promo_amount', 'shipment_fee', 'total_amount',
                'product_id', 'quantity', 'item_price']].fillna('0')
df_transac[['booking_id', 'session_id', 'payment_method', 'payment_status',
            'promo_code', 'shipment_location_lat', 'shipment_location_long']] = \
    df_transac[['booking_id', 'session_id', 'payment_method', 'payment_status',
                'promo_code', 'shipment_location_lat', 'shipment_location_long']].fillna('')

In [90]:
df_transac = df_transac.astype({
    'customer_id': float,
    'booking_id': str,
    'session_id': str,
    'payment_method': str,
    'payment_status': str,
    'promo_amount': float,
    'promo_code': str,
    'shipment_fee': float,
    'shipment_location_lat': str,
    'shipment_location_long': str,
    'total_amount': float,
    'product_id': float,
    'quantity': float,
    'item_price': float,
    'event_offset': float
})

In [97]:
def insertion(df, query, pg_connection, connection_cursor):
    records = 0
    for i, row in df.iterrows():
        row_values = row.values.tolist()
        time.sleep(row_values[-1])
        print(f'Inserting a record after {row_values[-1]} seconds.')
        connection_cursor.execute(query, row_values[:-1])
        pg_connection.commit()
        records += connection_cursor.rowcount
        if i >= 2:
            break
    return records

In [98]:
try:
    pg_connection = psycopg2.connect(
        user = 'user_a',
        password = 'pwd_a',
        host = '127.0.0.1',
        port = 5454,
        database = 'click_stream'
    )
    connection_cursor = pg_connection.cursor()
    # insert 5 clicks
    clicks_query = '''
    insert into clicks(session_id, event_name, event_id, traffic_source, product_id, quantity,
    item_price, payment_status, search_keywords, promo_code, promo_amount)
    values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    clicks_records = insertion(df_stream, clicks_query, pg_connection, connection_cursor)
    print(f'Newly inserted records in clicks table: {clicks_records}')

    # insert 5 transactions
    transactions_query = '''
    insert into transactions(customer_id, booking_id, session_id, payment_method,
       payment_status, promo_amount, promo_code, shipment_fee,
       shipment_location_lat, shipment_location_lon, total_amount,
       product_id, quantity, item_price)
    values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    transactions_records = insertion(df_transac, transactions_query, pg_connection, connection_cursor)
    print(f'Newly inserted records in transactions table: {transactions_records}')
    

except (Exception, psycopg2.Error) as e:
    print('Insertion error:', e)
finally:
    if pg_connection:
        connection_cursor.close()
        pg_connection.close()
        print('PG Connection closed.')

Inserting a record after 0.0 seconds.
Inserting a record after 33.0 seconds.
Inserting a record after 110.0 seconds.
PG Connection closed.

KeyboardInterrupt: